/* ----------------------------------------------------------

Base css

---------------------------------------------------------- */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	margin: 0 0 20px 0;
}

h2 {
	margin: 0 0 15px 0;
}

h3 {
	margin: 0 0 10px 0;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	width: 100%;
	/*height: auto;*/
}

/* ----------------------------------------------------------

Helpers

---------------------------------------------------------- */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.text-center {
	text-align: center;
}

/* ----------------------------------------------------------

Buttons

---------------------------------------------------------- */

.btn {
	color: #fff;
	background: #0073b9;
	display: inline-block;
	padding: 15px 20px;
	vertical-align: middle;
}

.btn:hover {
	background: #0083d4;
}

/* ----------------------------------------------------------

Layout

---------------------------------------------------------- */

.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

/* ----------------------------------------------------------

Masthead

---------------------------------------------------------- */

.masthead {
	width: 100%;
	background: #d4d4d4;
}

.site-name {
	margin-top: 20px;
	padding: 0 20px;
}

.nav {
	margin: 38px 0;
	padding: 0;
	list-style: none;
}

.nav a {
	display: block;
	padding: 10px 20px;
}

.nav a:hover {
	color: #444;
}

/* ----------------------------------------------------------

Slider

---------------------------------------------------------- */

.slider {
	width: 100%;
}

#owl-slider .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-pagination {
	position: absolute;
	bottom: 50px;
	text-align: center;
	left: 0;
	width: 100%;
}

.owl-prev {
	position: absolute;
	top: 50%;
	left: 0;
	
}

.owl-next {
	position: absolute;
	top: 50%;
	right: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	width: 50px;
	height: 100px;
	background: silver;
	margin: -50px 0 0 0;
	border-radius: 0;
	opacity: 1;
	font-size: 25px;
	line-height: 100px;
	text-align: center;
}

.owl-theme .owl-controls {
	margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
	background: #c71444;
}

/* ----------------------------------------------------------

Content

---------------------------------------------------------- */

.content {
	width: 100%;
	background: #d4d4d4;
}

.main-content {
	width: 50%;
	padding: 30px 20px 30px 60px;
}

.main-img {
	width: 50%;
	padding: 30px 60px 30px 20px;
}

/*.second-content {
	padding: ;
}*/

/*.container .main-content:nth-child(even) {
	padding: 30px 60px 30px 20px;
}

.container .main-img:nth-child(even) {
	padding: 30px 20px 30px 60px;
}*/

/*.second-img*/

/*.main-content:nth-of-type(2n) {
	width: 50%;
	padding: 30px 60px 30px 20px;
}*/



/*.main-img:nth-of-type(odd) {
	width: 50%;
	padding: 30px 20px 30px 60px;
}*/

.left-arrow, .right-arrow {
	font-size: 45px;
	margin-top: -22.5px;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 0;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 0;
}
