/* ----------------------------------------------------------

Helpers

---------------------------------------------------------- */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.center {
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
